<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Events Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Events</h1>
<a href="/">Home</a>
<br>
<br>
<span th:text="${'Welcome ' + userName}"></span>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Date</th>
        <th>Description</th>
        <th>Venue</th>
        <th>Host</th>
        <th>Status</th>
    </tr>
    <tr th:each="event : ${events}">
        <td><a th:text="${event.id}" th:href="@{|/event/${event.id}|}"></a></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.date}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.venue.name}"></td>
        <td th:text="${event.creater.name}"></td>
        <td th:text="${event.status}"></td>
    </tr>
</table>
</body>
</html>
