<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Event</h1>
<a href="/">Home</a>
<br>
<section th:if="${isLoggedIn}">
    <h2 th:text="${'Hello '+ loggedInAs.name}"></h2>
</section>
<br>
<section th:if="${hasIconPhoto}">
    <img th:src="${eventIcon}" style="height:300px;">
</section>
<br>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Venue</th>
        <th>Host</th>
        <th>Status</th>
    </tr>
    <tr>
        <td th:text="${event.name}"></td>
        <td th:text="${event.date}"></td>
        <td th:text="${event.venue.name}"></td>
        <td th:text="${event.creater.name}"></td>
        <td th:text="${event.status}"></td>
    </tr>
</table>
<br/>
<hr>
<br/>
<b>Registrations</b>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Event</th>
        <th>Photographer</th>
        <th>Allocation</th>
        <th>Available Spots</th>
        <th>Order Price (Unit)</th>
        <th>Status</th>
    </tr>
    <tr th:each="registration: ${event.registrations}">
        <td><a th:text="${registration.id}" th:href="@{|/registration/${registration.id}|}"></a></td>
        <td th:text="${registration.event.name}"></td>
        <td th:text="${registration.photographer.name}"></td>
        <td th:text="${registration.allocation}"></td>
        <td th:text="${registration.allocation}-${registration.getSecuredOrders().size()}"></td>
        <td th:text="${registration.orderCostSetting.getSpotFeeAmount()} + '(' + ${registration.orderCostSetting.getCurrency()} + ')'"></td>
        <td th:text="${registration.status}"></td>
    </tr>
</table>
<section th:if="${isLoggedIn and !registerOpen}">
    <p2>Photographer Registration Closed</p2>
</section>
<section th:if="${isLoggedIn and registerOpen}">
    <hr>
    <p2>Create a new registration</p2>
    <h2>Registration closing in <a th:text="${registrationClosureHour}"/> hours</h2>
    <section th:if="${canSelfRegister}">
        <form action="#" th:action="@{/registration/event/{id}(id=${event.id})}" th:object="${newregistration}"
              method="post">
            <p>Register Myself</p>
            <p><input type="hidden" th:id="photographer.name" th:name="photographer.name"
                      th:value="${loggedInAs.name}"/></p>
            <p>Allocation: <input type="text" th:field="*{allocation}" th:value="5"/></p>
            <p>Order price Amount: <input type="text" th:field="*{orderCostSetting.spotFeeAmount}" th:value="5"/></p>
            <p>Order price in: <input type="text" th:field="*{orderCostSetting.currency}" th:value="5"/></p>
            <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        </form>
        <br>
        <hr>
    </section>
    <p>Invite a photographer</p>
    <form action="#" th:action="@{/registration/event/{id}(id=${event.id})}" th:object="${newregistration}"
          method="post">
        <select th:field="*{photographer.name}">
            <option th:each="photographer : ${photographers}"
                    th:value="${photographer.name}"
                    th:text="${photographer.name}"/>
        </select>
        <p>Allocation: <input type="text" th:field="*{allocation}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
    <section th:if="${canCancel}">
        <br>
        <hr>
        <form th:action="@{/event/cancel/{id}(id=${event.id})}" method="post">
            <input type="submit" value="Cancel Event"/>
        </form>
    </section>
    <br>
    <hr>
    <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="submit" value="log out"/>
    </form>
</section>
</body>
</html>
