<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"/> -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <header>
        <div class="container flexbox align-center">
            <h1><a href="/"><img src="/img/logo.png" alt="Car Logo" height="50"/></a></h1>
            <h2>My Account</h2>
            <form th:action="@{/logout}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button class="btn" type="submit">Log Out</button>
            </form>
        </div>
    </header>
    <section th:if="${hasIconPhoto}">
        <div class="container">
            <img th:src="${userIcon}" style="height:100px;">
        </div>
    </section>
    <section id="user-orders">
        <div class="container table">
            <h3>Incoming Orders</h3>
            <ul class="head">
                    <li>Id</li>
                    <li>Event</li>
                    <li>Photographer</li>
                    <li>Client</li>
                    <li>Status</li>
                </ul>
            <ul th:each="eventOrder : ${orderAsOwner}" class="flexbox align-center">
                    <li><a th:text="${eventOrder.id}" th:href="@{|/eventorder/${eventOrder.id}|}"></a></li>
                    <li th:text="${eventOrder.registration.event.name}"></li>
                    <li th:text="${eventOrder.registration.photographer.name}"></li>
                    <li th:text="${eventOrder.client.name}"></li>
                    <li th:text="${eventOrder.orderStatus}"></li>
                </ul>
        </div>
    </section>
    <section id="user-ordered">
        <div class="container table">
            <h3>Ordered</h3>
            <ul class="head">
                    <li>Id</li>
                    <li>Event</li>
                    <li>Photographer</li>
                    <li>Client</li>
                    <li>Status</li>
                </ul>
            <ul th:each="eventOrder : ${orderAsClient}" class="flexbox align-center">
                    <li><a th:text="${eventOrder.id}" th:href="@{|/eventorder/${eventOrder.id}|}"></a></li>
                    <li th:text="${eventOrder.registration.event.name}"></li>
                    <li th:text="${eventOrder.registration.photographer.name}"></li>
                    <li th:text="${eventOrder.client.name}"></li>
                    <li th:text="${eventOrder.orderStatus}"></li>
                </ul>
        </div>
    </section>
</body>
</html>
