<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Photo Review</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Photo Review</h2>
<br>
<br>
<img th:src="${photo.getImageUrl()}" style="width:400px;">
<br>
<form action="#" th:action="@{/photo/review/{id}(id=${photo.id})}" th:object="${newreview}" method="post">
    <p>Like? <input type="checkbox" th:field="*{isLike}"/></p>
    <p>Description: <input type="text" th:field="*{comment}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
<hr>
Reviews
<table border="1">
    <tr>
        <th>Like?</th>
        <th>Comment</th>
        <th>By</th>
    </tr>
    <tr th:each="review : ${reviews}">
        <td th:text="${review.isLike}"></td>
        <td th:text="${review.comment}"></td>
        <td th:text="${review.getReviewer().getName()}"></td>
    </tr>
</table>
<section th:if="${isLoggedIn and isOwner}">
<hr>
<form th:action="@{/photo/delete/{id}(id=${photo.id})}" method="post">
    <input type="submit" value="Delete"/>
</form>
</section>
</body>
</html>
